body{background-image:url(images/bg.avif); background-repeat: no-repeat;
background-size: cover;}

form{background-color:rgba(0, 0, 0, 0.2); 
    width: 200px; margin: 40px auto; 
    padding: 30px;
    border: none; 
    text-align: center; box-sizing: border-box; width: 300px;}

h2{font-size:small; 
font-weight: bolder; 
color: azure; 
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
text-align: center;
letter-spacing: 1px;}

input{width: 200px; 
padding: 10px;
text-align: center;
border: none; }

h3{font-size:x-small;
font-weight: lighter;
color: azure;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}

button:hover{ background-color: white;
border-color: black;}



